
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
	overflow:hidden;
}
.e3_7 { 
	width:130px;
	height:130px;
	position:absolute;
	left:920px;
	top:37px;
	background-image:url(images/bussola_removebg_preview__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_2 { 
	background-color:rgba(53.1249987334013, 50.02604082226753, 50.02604082226753, 1);
	width:248px;
	height:56px;
	position:absolute;
	left:1065px;
	top:917px;
}
.e8_3 { 
	background-color:rgba(53.1249987334013, 50.02604082226753, 50.02604082226753, 1);
	width:248px;
	height:56px;
	position:absolute;
	left:356px;
	top:917px;
}
.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:326px;
	height:332px;
	position:absolute;
	left:724px;
	top:13px;
	font-family:Chakra Petch;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}
.e7_10 { 
	color:rgba(215.0000023841858, 173.00000488758087, 31.000000052154064, 1);
	width:213px;
	height:42px;
	position:absolute;
	left:374px;
	top:924px;
	font-family:Chakra Petch;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e7_8 { 
	color:rgba(215.0000023841858, 173.00000488758087, 31.000000052154064, 1);
	width:262px;
	height:42px;
	position:absolute;
	left:1058px;
	top:917px;
	font-family:Chakra Petch;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e1_2 { 
    background-color:rgba(255, 255, 255, 1);
    width:1728px;
    height:1117px;
    position:absolute;
    overflow:hidden;
  }
  .e3_7 { 
    width:130px;
    height:130px;
    position:absolute;
    left:920px;
    top:37px;
    background-image:url(images/bussola_removebg_preview__2__2.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .e8_2 { 
    background-color:rgba(53.1249987334013, 50.02604082226753, 50.02604082226753, 1);
    width:248px;
    height:56px;
    position:absolute;
    left:1065px;
    top:917px;
  }
  .e8_3 { 
    background-color:rgba(53.1249987334013, 50.02604082226753, 50.02604082226753, 1);
    width:248px;
    height:56px;
    position:absolute;
    left:356px;
    top:917px;
  }
  .e2_4 { 
    color:rgba(0, 0, 0, 1);
    width:326px;
    height:332px;
    position:absolute;
    left:724px;
    top:13px;
    font-family:Chakra Petch;
    text-align:left;
    font-size:128px;
    letter-spacing:0;
  }
  .e7_10 { 
    color:rgba(215.0000023841858, 173.00000488758087, 31.000000052154064, 1);
    width:213px;
    height:42px;
    position:absolute;
    left:374px;
    top:924px;
    font-family:Chakra Petch;
    text-align:center;
    font-size:32px;
    letter-spacing:0;
  }
  .e7_8 { 
    color:rgba(215.0000023841858, 173.00000488758087, 31.000000052154064, 1);
    width:262px;
    height:42px;
    position:absolute;
    left:1058px;
    top:917px;
    font-family:Chakra Petch;
    text-align:center;
    font-size:32px;
    letter-spacing:0;
  }
  